.admin-panel-line-modify-materials-container {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 70%;
}

.admin-panel-line-modify-materials-title {
  margin-bottom: 50px;
}

.admin-panel-line-modify-materials-form {
    margin-bottom: 50px;
}


.admin-panel-line-modify-materials-form-button{
    width: 40%;
}